############################################
# Files Extensions that need to be ingored #
############################################
*.out
*.txt
*.o

##########################################################
# Josh's Visual Studio stuff to be ignored! #
##########################################################
*.sdf
*.sln
Debug
*.vcxproj*