##########################################################
# Files Extensions that need to be ingored -Josh's copy! #
##########################################################
*.sdf
*.suo
*.sln
ipch/*
Debug/*
ControllerBeta/Debug/*
ControllerBeta/*.vcxproj*